.bg {
  /* background-color: red; */
  max-width: 120rem;
  padding: 0 3rem;
  margin: 0 auto;
}

.page_title {
  display: inline-block;

  background-color: aqua;
  padding: 1rem 10rem;
  font-size: 1.5rem;
}
