.bg {
  padding: 0 3rem;
}

.filter_chip {
  background-color: #7070705c;
  color: #000;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

.filter_chip_container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
  padding: 1rem;
  column-gap: 2.5rem;
  justify-items: center;
  align-items: center;
}
