.main_container {
  padding: 0 2.1rem;
  max-width: 120rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*  */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.logo {
  display: flex;
  /* padding: 0 3rem; */
  /* margin: 0 auto; */
  max-width: fit-content;
  align-self: flex-start;
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  border: 5px outset #3061aa77;
  transform: scale(0.9);
  margin-bottom: 1rem;
}

.logo:hover {
  /* background-color: #3061aa2e; */
  cursor: pointer;
  transform: scale(1);
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.2);
  border: 5px outset #3061aa;
}

.form_bg {
  /* padding: 3rem 3.5rem; */
  width: 100%;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.title_container {
  column-gap: 1rem;
  display: flex;
  align-items: flex-end;
  padding: 1.5rem 3rem;
  background-color: #3061aa;
  color: white;
  margin-bottom: 1.5rem;
}

/* .pattern_container {
  background-color: pink;
  width: 100%;
  height: 5%;
}

.ss {
} */

.form {
  padding: 3rem 3.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;
  /* width: 90%; */
}

.form > label {
  margin-top: 1.5rem;
  font-weight: 500;
  color: #707070c7;
  font-size: 1.5rem;
}

.form > input,
.form > textarea {
  padding: 1.5rem;
  border: 1px solid #7070707c;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

/* submit button */

.submit_button {
  padding: 1.5rem;
  border: 1px solid #7070707c;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  /* background-color: #3061aa; */
  /* color: white; */
  font-weight: 500;
  cursor: pointer;
  margin-top: 1.5rem;

  display: flex;
  justify-content: center;
  /* align-items: center; */
  column-gap: 1rem;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.07rem;
}
.submit_button:hover {
  background-color: #3061aa;
  color: white;
  transform: translate(0, -0.21rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.21);
}

.submit_button:active {
  transform: translate(0, 0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
