.main_container {
  padding: 0 3rem;
  margin: 0 auto;
  max-width: 120rem;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

/* .pattern_container {
  background-color: pink;
  width: 100%;
  height: 5%;
}

.ss {
} */

.aa {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;
}

.aa > label {
  padding-top: 1.5rem;
  font-size: 1.5rem;
}

.aa > input {
  padding: 1rem;
  /* border: 1px solid #000; */
  border-radius: 0.5rem;
  font-size: 1.5rem;
}
