.bg {
  min-height: 65vh;
  width: 100%;
  padding: 0 3rem;

  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  background-image: radial-gradient(
    circle farthest-corner at 92.3% 71.5%,
    rgba(134, 231, 214, 1) 90% rgba(83, 138, 214, 1) 0%
  );
  /* background-image: url("/images/mb_3.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */

  /* background-color: cyan; */
}

.main_title {
  font-size: 3.9rem;
}

.greetings {
  font-weight: 300;
}

.sub_heading {
  padding: 0.7em 0 0 0;
  font-size: 1.7rem;
  color: #555;
  font-weight: 400;
}
