.bg {
  background-color: #f9fafa;
  padding: 0 3rem;
}

.header {
  text-align: center;
  padding: 3rem 0;
}
.header > h1 {
  font-size: 2.5rem;
}

.items_container {
  padding: 0 3rem;
  margin: 0 auto;
  max-width: 120rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 5rem;
  row-gap: 5rem;
}

.items_container > li {
  display: flex;
  font-size: 1.9rem;
  padding: 2rem;
  background-color: white;
  border-radius: 0.3em;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-extra-small: 0px 4px 8px;
}

.items_container > li:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.item_title_container {
  flex: 2;
  padding: 0.3rem 1rem 0 1rem;
}

.item_title_container > p {
}

.item_title {
  font-weight: 500;
  color: #000;
}

/* Media queries */
/* 766px */
@media (min-width: 47.8rem) {
  .items_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
