.bg {
  background-color: #f9fafa;
  padding: 0 3rem;
}

.header {
  text-align: center;
  padding: 3rem 0;
}
.header > h1 {
  font-size: 2.5rem;
}

.items_container {
  padding: 0 3rem;
  margin: 0 auto;
  max-width: 120rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 5rem;
  row-gap: 5rem;
}

.items_container > li {
  padding: 1rem;
  background-color: pink;
  font-size: 2rem;
  display: flex;
}

.items_container > li > p {
  /* padding: 1rem; */
  font-weight: 500;
  color: #000;
}

/* Media queries */
/* 766px */
@media (min-width: 47.8rem) {
  .items_container {
    grid-template-columns: repeat(3, 1fr);
  }
} ;
