.bg {
  background-color: #f9fafa;
  padding: 0 3rem;
}

.header {
  text-align: center;
  padding: 3rem 0;
}
.header > h1 {
  font-size: 2.5rem;
}

.items_container {
  /* background-color: red;
   */

  padding: 0 3rem;
  max-width: 120rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.items_container > li {
  background-color: red;
  font-size: 11rem;
}

/* 766px */
@media (min-width: 47.8rem) {
  .items_container {
    grid-template-columns: repeat(3, 1fr);
  }
} ;
