.bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
}

.spinner {
  height: 9rem;
  width: 9rem;
  position: relative;
  box-shadow: 0 2px 2px gray;
  /* background-color: pink; */
  padding: 1.5rem;
  /* border-radius: 3rem; */
  border-radius: 100%;
  border: 3px grey dotted;

  /* animation properties */
  animation: spinnerAnimation 2.1s linear infinite;

  /*Horizontal*/
  background-image: linear-gradient(
    to right,
    black 33%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 3px 1px;
  background-repeat: repeat-x;

  /*Vertical*/
  background-image: linear-gradient(black 33%, rgba(255, 255, 255, 0) 0%);
  background-position: right;
  background-size: 1px 3px;
  background-repeat: repeat-y;
}

@keyframes spinnerAnimation {
  0% {
    transform: rotate(360deg);
  }
}

.logo_image {
  /* image itself has a transparent space surrounding it */
  position: absolute;
  height: 3rem;
  width: 3rem;
}
