.bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
}

.spinner {
  height: 9rem;
  width: 9rem;
  position: relative;
  /* box-shadow: 0 2px 2px gray; */
  /* background-color: pink; */
  padding: 1.5rem;
  /* border-radius: 3rem; */
  border-radius: 100%;
  border: 3px black dotted;

  /* animation properties */
  animation: spinnerAnimation 2.1s linear infinite;
}

@keyframes spinnerAnimation {
  0% {
    transform: rotate(360deg);
  }
}

.logo_image {
  position: absolute;
  height: 3rem;
  width: 3rem;
}

/*  */
@keyframes rotate {
  /* from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  } */

  0% {
    -webkit-transform: rotate(360deg);
  }
}
