.bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
}

.spinner {
  height: 9rem;
  width: 9rem;
  position: relative;
  box-shadow: 0 2px 2px rgba(128, 128, 128, 0.249);
  background-color: white;
  padding: 1.5rem;
  /* border-radius: 3rem; */
  border-radius: 100%;
  border: 3px grey dotted;

  /* animation properties */
  animation: spinnerAnimation 2.1s linear infinite;
}

@keyframes spinnerAnimation {
  0% {
    transform: rotate(360deg);
  }
}

.logo_image {
  /* image itself has a transparent space surrounding it */
  position: absolute;
  height: 3rem;
  width: 3rem;
}
